body {
    font-family: Arial, sans-serif;
    background-color: #cfad25; /* Cambia il colore di sfondo a giallo pastello */  /* altro colore esadecimale: FFCC00*/
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #D3D3D3; /* Light gray */
    color: black; /* Changed text color to black */
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px #999;
}

button:hover {
    background-color: #C0C0C0; /* Slightly darker gray for hover effect */
}

button:active {
    background-color: #A9A9A9; /* Even darker gray for active state */
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

#message {
    display: none;
    margin-top: 20px;
    font-size: 20px;
    color: #333;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Imposta l'altezza della pagina uguale all'altezza della viewport */
    flex-direction: column; /* Dispone il contenuto in colonna */
}

h1 {
    text-align: center;
    margin-top: 20px;
}

h2 {
    text-align: justify;
    margin-top: 10px;
}

.title-subtitle {
    text-align: center;
    margin-bottom: 20px; /* Aggiunge spazio tra il titolo/sottotitolo e il bottone */
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
