body {
    font-family: Arial, sans-serif;
    background-color: #dedc6f;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4C9950;
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px #999;
}

button:hover {
    background-color: #499949;
}

button:active {
    background-color: #459999;
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

#message {
    display: none;
    margin-top: 20px;
    font-size: 20px;
    color: #333;
}
