body {
    font-family: Arial, sans-serif;
    background-color: #cfad25; /* Cambia il colore di sfondo a giallo pastello */  /* altro colore esadecimale: FFCC00 */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #D3D3D3; /* Light gray */
    color: black; /* Changed text color to black */
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px #999;
}

button:hover {
    background-color: #C0C0C0; /* Slightly darker gray for hover effect */
}

button:active {
    background-color: #A9A9A9; /* Even darker gray for active state */
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

#message {
    display: none;
    margin-top: 20px;
    font-size: 20px;
    color: #333;
    text-align: center; /* Aggiunge centratura al testo del messaggio */
    width: 100%; /* Assicura che il messaggio prenda tutta la larghezza del contenitore */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Imposta l'altezza della pagina uguale all'altezza della viewport */
    flex-direction: column; /* Dispone il contenuto in colonna */
}

h1 {
    text-align: center;
    margin-top: 20px;
}

h2 {
    text-align: center;
    margin-top: 10px;
}

.title-subtitle {
    text-align: center;
    margin-bottom: 30px; /* Aggiunge spazio tra il titolo/sottotitolo e il bottone */
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Menu icon */
.menu-icon {
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
    z-index: 1000;
}

.menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
}

/* Side menu */
.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 999;
}

.side-menu a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.side-menu a:hover {
    color: #f1f1f1;
}

.book-entry {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.book-image {
    width: 500px;
    height: auto;
    margin-right: 20px;
}

.book-image.left {
    order: 1;
}

.book-image.right {
    order: 2;
    margin-left: 20px;
    margin-right: 0;
}

.book-info {
    flex: 1;
    margin: 0 20px; /* Aggiunge un margine di 20px ai lati */
}

.book-title {
    font-size: 20px;
    font-weight: bold;
    color: #1e1e1e;
    text-decoration: none;
}

.book-title:hover {
    text-decoration: underline;
}

.book-description {
    font-size: 16px;
    color: #3b3b3b;
}
